$base-color: #888888;
$jumbo-text-color: #ffbb00;
$base-color-dark: darken( $base-color, 10%);
$base-color-light: lighten( $base-color, 10%);
$base-color-sat: saturate( $base-color, 15%);
$jumbo-text-lead: saturate( $jumbo-text-color, 10%);
.body-bg {
    background-color: $base-color-light;
}

.header-bg {
    /* background-color: #77828f; */
    background-color: $base-color-dark;
    padding: 0.5em;
    padding-left: 20px;
}

.nav-bg {
    background-color: $base-color-light;
    border-top: 2px solid $base-color-dark;
    border-bottom: 2px solid $base-color-dark;
    /*background-color: #adb7c4;*/
}

.header6p {
    height: 3px;
    background-color: white;
}

.page-footer {
    margin-top: 1em;
    background-color: $base-color-light;
}

.knapp-skugga {
    box-shadow: 4px 4px 15px grey;
}

.jumbo-img {
    background-image: url(/assets/images/decor-action-03-crop-dark.png);
    width: 100%;
    height: 100%;
}

.jumbo-text {
    text-shadow: 5px 5px 15px rgba(250, 250, 200, 0.9);
}

.jumbo-text-color {
    color: $jumbo-text-color;
}

.jumbo-text-lead {
    color: $jumbo-text-lead;
}

.card-bg {
    /* background-color: $base-color; */
    background-color: rgba(250, 250, 200, 0.2);
}

.container-content {
    background-image: url("/assets/images/content-bg-img.jpg");
}