<main class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 text-secondary">PowerTech ECU Tuning</h1>
        <p class="lead">Unleash the power</p>
        <hr class="my-2">
        <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum incidunt numquam iure accusamus
            architecto, cum a voluptatibus, est tempore, animi aspernatur! Voluptate tempora exercitationem natus
            cumque, aliquam repudiandae fugiat optio?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg knapp-skugga" href="Jumbo action link" role="button">Knapp till nåt</a>
        </p>
    </div>
</main>