<main class="jumbotron jumbotron-fluid jumbo-img">
    <div class="container">
        <h1 class="display-3 jumbo-text jumbo-text-lead">PowerTech ECU Tuning</h1>
        <p class="lead jumbo-text jumbo-text-color">Unleash the power</p>
        <hr class="my-2">
        <p class="jumbo-text-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum incidunt numquam iure accusamus
            architecto, cum a voluptatibus, est tempore, animi aspernatur! Voluptate tempora exercitationem natus
            cumque, aliquam repudiandae fugiat optio?</p>

            <a class="btn btn-primary btn-lg knapp-skugga" href="Jumbo action link" role="button">Knapp till nåt</a>
        </p>
    </div>
</main>