    <!-- nav-->
    <nav class="navbar navbar-expand-md navbar-light nav-bg">
        <a class="navbar-brand" href="/"><i class="fa fa-home fa-lg fa-fw"></i><span class="sr-only">(current)</span></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/ecu-tuning/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Testkörning
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/testdrive/essential.html">Förutsättningar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/testdrive/baseline.html">Baseline</a>
                        <a class="dropdown-item" href="/testdrive/slip-on.html">Slipon</a>
                        <a class="dropdown-item" href="/testdrive/de-cat.html">De-cat</a>
                        <a class="dropdown-item" href="/testdrive/filter.html">Filter</a>
                        <a class="dropdown-item" href="/testdrive/autotune.html">Autotune</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/services/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ECU Optimering
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/ecu-optimizing/background/">Bakgrund</a>
                        <a class="dropdown-item" href="/ecu-optimizing/basic/">Basic</a>
                        <a class="dropdown-item" href="/ecu-optimizing/standard/">Standard</a>
                        <a class="dropdown-item" href="/ecu-optimizing/advanced/">Advanced</a>
                        <a class="dropdown-item" href="/ecu-optimizing/performance/">Performance</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/produkter/">Produkter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/partners/">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us/">Om oss</a>
                </li>
            </ul>
        </div>
    </nav>
