    <!-- nav-->
    <nav class="navbar navbar-expand-md navbar-light nav-bg">
        <a class="navbar-brand" href="/"><i class="fa fa-home fa-lg fa-fw"></i><span class="sr-only">(current)</span></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/ecu-tuning/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ECU Tuning
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/ecu-tuning/background.html">Bakgrund</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/ecu-tuning/baseline.html">Baseline</a>
                        <a class="dropdown-item" href="/ecu-tuning/slip-on.html">Slipon</a>
                        <a class="dropdown-item" href="/ecu-tuning/de-cat.html">De-cat</a>
                        <a class="dropdown-item" href="/ecu-tuning/filter.html">Filter</a>
                        <a class="dropdown-item" href="/ecu-tuning/autotune.html">Auto tune</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/services/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tjänster
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/services/basic/">Basic</a>
                        <a class="dropdown-item" href="/services/standard/">Standard</a>
                        <a class="dropdown-item" href="/services/advanced/">Advanced</a>
                        <a class="dropdown-item" href="/services/performance/">Performance</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/products/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Produkter
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Förutsättningar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Race parts</a>
                        <a class="dropdown-item" href="#">Tillbehör</a>
                        <a class="dropdown-item" href="#">Bromsar</a>
                        <a class="dropdown-item" href="#">Insug</a>
                        <a class="dropdown-item" href="#">Avgas</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/partners/">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/terms-conditions/">Villkor & garantier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us/">Om oss</a>
                </li>
            </ul>
        </div>
    </nav>