<div class="container">
    <div class="row mt-3">
        <div class="col-sm">
            <img class="m-4 " src="/assets/images/logo-ktm.svg" height="50" alt="">
        </div>
        <div class="col-sm">
            <img class="m-4" src="/assets/images/logo-aprilia.svg" height="50" alt="">
        </div>
        <div class="col-sm">
            <img class="m-4" src="/assets/images/logo-ducati.svg" height="50" alt="">
        </div>
        <div class="col-sm">
            <img class="m-4" src="/assets/images/logo-suzuki.svg" height="50" alt="">
        </div>
        <div class="col-sm">
            <img class="m-4" src="/assets/images/logo-kawasaki.svg" height="50" alt="">
        </div>
        <div class="col-sm">
            <img class="m-4" src="/assets/images/logo-yamaha.svg" height="50" alt="">
        </div>
        <div class="col-sm">
            <img class="m-4" src="/assets/images/logo-honda.svg" height="50" alt="">
        </div>
    </div>
</div>

